 <div class="island one-quarter">
            <div id="animLogo" class="desLabLogo"></div>
            <section class="latest">
                <div class="slideOver">
                    <div class="slide transition--slower"><img src="images/sideBar/9beecf23.martin.jpg" alt="">
                        <div class="flyIn flyIn--left flyIn--thin flyIn--midBottom bkCol--rockingOrange transition--slower">
                        <h6>Design Lab</h6>
                    </div>
                </div>

                </div>
                <div class="links">
                    <a href="#">IDEA</a>
                    <a href="#">Design Computing</a>
                    <a href="#">Research</a>
                    <a href="#">IDEA</a>
                    <a href="#">Design Computing</a>
                    <a href="#">Research</a>
                </div>
                
            </section>
         
        </div>