{#
#
#
#
# IxD Project Template
#
#
#
#}

{% extends "_layout" %}

{% block content %}
	<div class="ui__bar push--bottom"></div>
        <div class="project three-quarters palm-one-whole lap-one-whole float--left ">
            <img src="{{entry.featuredImage[0].getUrl('frontPageTransform')}}" alt="">
            <h1 class="palm-soft-half--sides lap-soft-half--sides">{{ entry. title }}</h1>
            <ul class="nav one-whole">
                <li class="active"><a href="#">Grounding</a></li>
                <li><a href="#">Sketching</a></li>
                <li><a href="#">Mockups</a></li>
                <li><a href="#">Evaluation</a></li>
                <li><a href="#">Prototypes</a></li>
                <li><a href="#">Presentation</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">Documentation</a></li>
            </ul>
            <div class="project__section Grounding active palm-soft-half--sides lap-soft-half--sides" data-attr="">
                <p>{{entry.grounding}}</p>
            </div>
            <div class="project__section Sketching palm-soft-half--sides lap-soft-half--sides" data-attr="">
                <p>{{ entry.sketching }}</p>
            </div>
            <div class="project__section Mockups palm-soft-half--sides lap-soft-half--sides" data-attr="">
                <p>{{ entry.mockups }}</p>
            </div>
            <div class="project__section Evaluation palm-soft-half--sides lap-soft-half--sides" data-attr="">
                <p>{{ entry.evaluation }}</p>
            </div>
            <div class="project__section Prototypes palm-soft-half--sides lap-soft-half--sides" data-attr="">
            	<p>{{entry.prototypes}}</p>
            </div>
            <div class="project__section Presentation palm-soft-half--sides lap-soft-half--sides" data-attr="">
            	<p>{{entry.presentation}}</p>
            </div>
            <div class="project__section Video" data-attr=""></div>
            <div class="project__section Documentation"data-attr=""></div> 
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'designlabdev'; // required: replace example with your forum shortname
                var disqus_identifier = '{{ entry.section }}-{{ entry.id }}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';

                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script> 

            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


        </div>

        

        <div class="island one-quarter visuallyhidden--palm visuallyhidden--lap soft--left soft--right">
            <div id="animLogo" class="desCompLogo visuallyhidden--palm"></div>
            <section class="project__descrip">
                <h3 class="border-bottom--thin push-half--bottom">Description</h3>
                <p>{{ entry.projectDescription}} </p>
            </section>
            <section class="project__class">
                <h3 class="border-bottom--thin push-half--bottom">Related Blog Posts</h3>
                {% for blogPost in craft.entries.section('interactionDesign').type('blog').parentOf(entry.id).find() %}
                <a href="{{blogPost.url}}"><p> {{blogPost.title}} </p></a>
                {% endfor %}
            </section>
            <section class="project__class">
                <h3 class="border-bottom--thin push-half--bottom">Class</h3>
                <p> {{entry.unit}} </p>
            </section>
            <section class="project__tags">
                <h3 class="border-bottom--thin push-half--bottom">Tags</h3>
                <ul class="nav nav--stacked">
                {% for tag in entry.tags %}
                    <li>{{tag}}</li>
                {% endfor %}
                </ul>
            </section>
            <section class="project__authors ">
                <h3 class="border-bottom--thin push-half--bottom">Authors</h3>
                <ul class="nav nav--stacked">
                {% for person in entry.participants %}
                    <a href="{{siteUrl}}user/{{person.username}}"><li>{{ person }}</li></a>
                </ul>
                {% endfor %}
            </section>
            <section class="project__relatedProjects">
                <h3 class="border-bottom--thin push-half--bottom">Related Projects</h3>
            </section>
         
        </div>
{% endblock %}