{#
#
#  Design Computing Shelf
#
#
#}

<div class="nav__shelf" id="descompShelf">
  <div id="" class="sideLogo sideLogo--desComp"></div>
  <div class="nav__item--submenu soft-half--left soft-half--top">
      <ul class="nav nav--stacked desCompLogoSwitch">
          <li class="active"><a class="" href="{{url('design-computing')}}">News</a></li>
          <li><a href="{{url('design-computing/projects')}}">Projects</a></li>
          <li><a href="#">Studios</a></li>
          <li><a href="{{url('design-computing/people')}}">People</a></li>
      </ul>
  </div>
  <div class="nav__item--longMenu" id="news">
      <div class="one-whole">
            {% for entry in craft.entries.section('designComputing').type('designComputingNews').limit(4).find() %}
                 <div class="menuPane__newsBlock one-quarter float--left" style="background:url('{{ entry.featuredImage[0].getUrl() }}');background-size:cover">
                     <a href="{{entry.url}}"><h3>{{entry.title}}</h3></a>
                 </div>
             {% endfor %}
        </div>
  </div>
  <div class="nav__item--longMenu visuallyhidden" id="projects">
      <div class="one-whole">
      {% for entry in craft.entries.section('project').limit(3).find({search: "course:Design Computing"}) %}
                 <div class="menuPane__newsBlock one-third float--left"  style="background:url('{{ entry.featuredImage[0].getUrl() }}');background-size:cover">
                     <a href="{{entry.url}}"><h3>{{ entry.title }}</h3></a>
                 </div>
      {% endfor %}
      </div>
  </div>
  <div class="nav__item--longMenu visuallyhidden" id="studios">
      <div class="one-quarter grid__item--course" id="digDesStudioLogo">
         <p class="push-half--bottom">Digital Design Studio</p>
         <ul class="nav nav--stacked">
             <li><a href="{{url('interaction-design')}}">News</a></li>
             <li><a href="{{url('interaction-design/projects')}}">Projects</a></li>
             <li><a href="{{url('interaction-design/assignments')}}">Assignments</a></li>
             <li><a href="{{url('interaction-design/schedule/schedule-2012')}}">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="{{url('interaction-design/people')}}">People</a></li>
         </ul>
      </div>

      <div class="one-quarter grid__item--course" id="ixdStudio">
          <p class="push-half--bottom">Interaction Design Studio</p>
          <ul class="nav nav--stacked">
             <li><a href="{{url('interaction-design')}}">News</a></li>
             <li><a href="{{url('interaction-design/projects')}}">Projects</a></li>
             <li><a href="{{url('interaction-design/assignments')}}">Assignments</a></li>
             <li><a href="{{url('interaction-design/schedule/schedule-2012')}}">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="{{url('interaction-design/people')}}">People</a></li>
         </ul>
      </div>

      <div class="one-quarter grid__item--course" id="infoVisStudio">
         <p class="push-half--bottom">Information Visualisation Studio</p>
         <ul class="nav nav--stacked">
             <li><a href="{{url('interaction-design')}}">News</a></li>
             <li><a href="{{url('interaction-design/projects')}}">Projects</a></li>
             <li><a href="{{url('interaction-design/assignments')}}">Assignments</a></li>
             <li><a href="{{url('interaction-design/schedule/schedule-2012')}}">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="{{url('interaction-design/people')}}">People</a></li>
         </ul>
          
      </div>

      <div class="one-quarter grid__item--course" id="humanComputerLogo">
         <p class="push-half--bottom">Human Computer Interaction Design Studio</p>
         <ul class="nav nav--stacked">
             <li><a href="{{url('interaction-design')}}">News</a></li>
             <li><a href="{{url('interaction-design/projects')}}">Projects</a></li>
             <li><a href="{{url('interaction-design/assignments')}}">Assignments</a></li>
             <li><a href="{{url('interaction-design/schedule/schedule-2012')}}">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="{{url('interaction-design/people')}}">People</a></li>
         </ul>
      </div>
  </div>
</div>