<div class="nav__shelf" id="ideaShelf">
  <div id="" class="sideLogo sideLogo--idea"></div>
  <div class="nav__item--submenu soft-half--left soft-half--top">
      <ul class="nav nav--stacked desCompLogoSwitch">
          <li class="active"><a class="" href="#">News</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Studios</a></li>
          <li><a href="#">People</a></li>
      </ul>
  </div>
  <div class="nav__item--longMenu descompShelf" id="news">
      <div class="grid one-whole">
             <div class="grid__item one-quarter" stlye="">
                 <div class="menuPane__newsBlock">
                     <h3>Student Recreates Game of Thrones</h3>
                 </div>
             </div><!--

          --><div class="grid__item one-quarter">
                 <div class="menuPane__newsBlock">
                     <h3>Student Recreates Game of Thrones</h3>
                 </div>
             </div><!--

          --><div class="grid__item one-quarter">
                 <div class="menuPane__newsBlock">
                     <h3>Student Recreates Game of Thrones</h3>
                 </div>
             </div><!--

          --><div class="grid__item one-quarter">
                 <div class="menuPane__newsBlock">
                     <h3>Student Recreates Game of Thrones</h3>
                 </div>
             </div>
      </div>
  </div>
  <div class="nav__item--longMenu descompShelf visuallyhidden" id="projects">
      <div class="grid one-whole">
             <div class="grid__item one-third" stlye="">
                 <div class="menuPane__newsBlock">
                     <h3>Student Recreates Game of Thrones</h3>
                 </div>
             </div><!--

          --><div class="grid__item one-third">
                 <div class="menuPane__newsBlock">
                     <h3>Student Recreates Game of Thrones</h3>
                 </div>
             </div><!--

          --><div class="grid__item one-third">
                 <div class="menuPane__newsBlock">
                     <h3>Student Recreates Game of Thrones</h3>
                 </div>
             </div><!--

          -->
      </div>
  </div>
  <div class="nav__item--longMenu visuallyhidden descompShelf" id="studios">
      <div class="one-quarter grid__item--course" id="digDesStudioLogo">
         <p class="push-half--bottom">IDEA Research Project</p>
         <ul class="nav nav--stacked">
             <li><a href="#">News</a></li>
             <li><a href="#">Projects</a></li>
             <li><a href="#">Assignments</a></li>
             <li><a href="#">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="#">People</a></li>
         </ul>
      </div>

      <div class="one-quarter grid__item--course" id="ixdStudio">
          <p class="push-half--bottom">IDEA Studios</p>
          <ul class="nav nav--stacked">
             <li><a href="#">News</a></li>
             <li><a href="#">Projects</a></li>
             <li><a href="#">Assignments</a></li>
             <li><a href="#">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="#">People</a></li>
         </ul>
      </div>

      <div class="one-quarter grid__item--course" id="infoVisStudio">
         <p class="push-half--bottom">IDEA LAB</p>
         <ul class="nav nav--stacked">
             <li><a href="#">News</a></li>
             <li><a href="#">Projects</a></li>
             <li><a href="#">Assignments</a></li>
             <li><a href="#">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="#">People</a></li>
         </ul>
          
      </div>

      <div class="one-quarter grid__item--course" id="humanComputerLogo">
         <p class="push-half--bottom">IDEA DISSERTATIONS</p>
         <ul class="nav nav--stacked">
             <li><a href="#">News</a></li>
             <li><a href="#">Projects</a></li>
             <li><a href="#">Assignments</a></li>
             <li><a href="#">Schedule</a></li>
             <li><a href="#">Resources</a></li>
             <li><a href="#">People</a></li>
         </ul>
      </div>
  </div>
</div>