{#
#
#  IxD Second Nav Layer
#
#
#}

<ul class="nav visuallyhidden--palm">
	<li><a href="{{url('interaction-design/')}}">News</a></li>
	<li><a href="{{url('interaction-design/blog')}}">Blog</a></li>
	<li><a href="{{url('interaction-design/projects')}}">Projects</a></li>
	<li><a href="{{url('interaction-design/assignments')}}">Assignments</a></li>
	<li><a href="{{url('interaction-design/schedule/schedule-2012')}}">Schedule</a></li>
	<li><a href="{{url('interaction-design/resources')}}">Resources</a></li>
	<li><a href="{{url('interaction-design/people')}}">People</a></li>
</ul>