{#
 # Design Computing Template
 # ---------------
 #
 #}

{% extends "_layout" %}

{% block content %}
	<section class="featuresList three-quarters palm-one-whole lap-one-whole">
		{% for entry in craft.entries.section('designComputing').find() %}
		{% if entry.type == 'designComputingNews'%}
		{% include "_includes/blog/blogList--course.html" with {'pType':'Design Computing'} %}
		{% endif %}
		{% endfor %}
    </section>
    {% include "_includes/island/island--desComp.html"%}
{% endblock %}
