{#
 # Design Computing Template
 # ---------------
 #
 #}

{% extends "_layout" %}

{% block content %}
	<section class="featuresList three-quarters">
		{% for entry in craft.entries.section('designComputing').find() %}
		{% if entry.type == 'designComputingNews'%}
		{% include "_includes/blog/blogList--course.html" with {'pType':'Design Computing'} %}
		{% elseif entry.type == 'designLabIncludedNews' %}
			{% for entry in entry.designLabFeaturedContent %}
				{% include "_includes/blog/blog--feature.html" with {'pType':'project'}  %}
			{% endfor %}
		{% endif %}
		{% endfor %}
    </section>
    {% include "_includes/island/island--desComp.html"%}
{% endblock %}
