{#
 #
 #
 # People Section - Works for All Immediate Sections Bar Design Lab People which is reserved for Staff
 # ---------------
 #
 #
#}

{% set user = craft.request.getSegment(2) %}
{% for p in craft.users.find({username: user}) %}
{% set title = p  %}
{% endfor%}


{% extends "_layout" %}

{% block content %}

{% for profile in craft.users.find({username: user}) %}
<div class="studentProfile one-whole">
	<div class="studentProfile__info push-half-bottom float--left one-whole soft--top">
	 <h3 class="portable-soft-half--sides lap-soft-half--sides palm-soft-half--sides">{{profile.fullName}}</h3>
	    
	</div>
	<div class="studentProfile__image one-third float--left palm-one-whole" style="background-image:url('{{profile.featuredImage[0].getUrl()}}')"></div>
	<div class="studentProfile__bio two-thirds float--left soft--left clear palm-one-whole portable-soft-half lap-soft-half palm-soft-half">
	    {{profile.userProfile}}
	</div>

	<div class="one-whole float--left"></div>
	
	<div class="studentProfile__assignments one-quarter float--left soft--right palm-one-whole palm-hard--right">
		<div class="border-top--thin one-whole float--left push--top">
			<h2 class="flush weight--light portable-soft-half--sides lap-soft-half--sides palm-soft-half--sides">Interests</h2>
			<ul class="nav">
			{% for tags in profile.userTags %}
				<li class="flush"><a href="#">{{tags}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	

	<div class="studentProfile__projects three-quarters float--left palm-one-whole">
	<div class="border-top--thin one-whole float--left push--top">
		<h2 class="flush weight--light portable-soft-half--sides lap-soft-half--sides palm-soft-half--sides">{{profile.friendlyName}}'s Projects</h2>
	</div>
			{% set searchTerm = profile.fullName %}

		<div class="royalSlider rsPerson__project rsDefault three-quarters" id="personProjectSlider">
		{% for project in craft.entries.section('project').search(searchTerm).find() %}
			<div id="rsContent">
				<img class="rsImg" src="{{project.featuredImage[0].getUrl()}}" alt="">
				<div class="rsTmb">
			        <h5>{{project.title}}</h5>
			      </div>
			</div>
		{% endfor%}
		</div>

	</div>
	

</div>
{% endfor%}

{% endblock %}