{#
#
#
#   Type Box for Blog Posts - Changes colour based on variable
#
#
#}


{% if type== ""%}
<div class="feature__typeBox bkCol--rockingOrange">
    <h6>Design Lab</h6>
</div>
{% elseif type=="Design Computing" %}
<div class="feature__typeBox bkCol--ravePink">
    <h6>Design Computing</h6>
</div>
{% elseif type=="IDEA" %}
<div class="feature__typeBox bkCol--babyBlue">
    <h6>IDEA</h6>
</div>
{% elseif type=="Interaction Design" %}
<div class="feature__typeBox bkCol--darkGrey">
    <h6>Interaction Design</h6>
</div>
{% endif %}