{#
 # Project Section - Works for All Immediate Sections
 # ---------------
 #
 #}

{% extends "_layout" %}

{% set title = craft.request.getSegment(1) %}

{% block secondNav %}
{% if title == 'interaction-design' %}
	{% include "_includes/nav/ixdSecondNav.html"%}
{% endif %}
{% endblock %}




{% block content %}
{% if title == 'design-computing' %}
	<section class="three-quarters float--left anim">
	<!--[if lte IE 7]><div class=ie7-grid><![endif]-->
	   <div class="grid studentList one-whole">
			{% for entry in craft.entries.section('project').type('interactionDesignProject').find() %}
	       <div class="grid__item one-third push--bottom">
	           <a href="{{entry.url}}"><div class="student push-half--bottom" style="background-image:url('{{entry.featuredImage[0].getUrl()}}')">
	           </div></a>
	       </div>{% endfor %}
	       <!--

	    --></div>

	<!--[if lte IE 7]></div><![endif]-->
	</section>
	{% include "_includes/island/island--desComp.html"%}
{% endif %}
{% if title == 'interaction-design' %}
	<section class="three-quarters float--left anim">
	<!--[if lte IE 7]><div class=ie7-grid><![endif]-->
	   <div class="grid studentList one-whole">
			{% for entry in craft.entries.section('project').type('interactionDesignProject').find() %}
	       <div class="grid__item one-third push--bottom">
	           <a href="{{entry.url}}"><div class="student push-half--bottom" style="background-image:url('{{entry.featuredImage[0].getUrl()}}')">
	           </div></a>
	           <h3>{{entry.title}}</h3>
	       </div>{% endfor %}
	       <!--

	    --></div>

	<!--[if lte IE 7]></div><![endif]-->
	</section>
	{% if title == 'interaction-design' %}
		{% include "_includes/island/island--ixd.html"%}
	{% else %}
		{% include "_includes/island/island--desComp.html"%}
	{% endif %}
	
{% endif %}


{% endblock %}