{#
#
#
#       List of Blog Entrys for News Section of Course Pages
#
#
#}



<article class="post push-half--bottom">
    <a href="{{ entry.url }}"><img src="{{entry.featuredImage[0].getUrl('frontPageTransform')}}" alt="" class="push-half--bottom"></a>
    {% include "_includes/typeBox/typeBox--custom.html" with {"type":pType} %}
    <div class="tags">
        <dl>
            {% for tag in entry.tags %}
            <dt>{{tag}}</dt>
            {% endfor %}
        </dl>
    </div>
    <h3 class="one-whole float--left weight--light push-half--bottom">{{entry.postDate|date("d F Y")}}</h3>
    <h1 class="one-third palm-one-whole lap-one-whole portable-soft-half--sides lap-soft-half--sides palm-soft-half--sides">{{ entry.title}} </h1>
    <h2 class="two-thirds palm-one-whole lap-one-whole portable-soft-half--sides lap-soft-half--sides palm-soft-half--sides">
    {% if pType == 'project' %}
    {{ entry.projectDescription }}
    {% endif %}
    {{ entry.heading }}


    <br><a href="{{ entry.url }}">Read More</a></h2>
    
</article>