{#
#
#
#       List of Blog Entrys for News Section for General
#
#
#}

{% if entry.featuredImage|length %} 
<article class="post push--bottom">
    <a href="{{ entry.url }}"><img src="{{entry.featuredImage[0].getUrl('frontPageTransform')}}" alt="" class="push-half--bottom"></a>
    {% include "_includes/typeBox/typeBox.html" %}
         <div class="tags">
        <dl>
            {% for tag in entry.tags %}
            <dt>{{tag}}</dt>
            {% endfor %}
        </dl>
    </div>
    {% endif %}
    {% if entry.featuredImage|length %}
    
    <div class="one-third palm-one-whole lap-one-whole portable-soft-half--sides lap-soft-half--sides palm-soft-half--sides push-half--bottom float--left border-right--thin">
        <h1 class="push-half--bottom one-whole">{{ entry.title}} </h1>
        <h4 class="float--left weight--light one-whole  push-half--bottom ">By {{entry.author}}</h4>
        <div class="border-bottom--thin one-half float--left"></div>
        <h5 class="float--left weight--light push-half--top one-whole flush--bottom">{{entry.postDate|date("d F Y")}}</h5>
        <h5 class="float--left one-whole flush--bottom"><a class=" " href="{{entry.url}}/#disqus_thread" data-disqus-identifier="{{ entry.section }}-{{ entry.id }}">1 Comment</a></h5>
    </div>
    <div class="two-thirds palm-one-whole lap-one-whole portable-soft-half--sides lap-soft-half--sides palm-soft-half--sides float--left">
        <h2 class="soft-half--left palm-hard--left">
        {% if pType == 'project' %}
        {{ entry.projectDescription }}
        {% endif %}
        {{ entry.heading }}
        <br><a href="{{ entry.url }}">Read More</a></h2>
    </div> 
    </article>
{% else %}
    <article class="noImagePost push--bottom">
        <h1 class="one-whole push-half--bottom">{{entry.title}}</h1>
        <h4 class="one-whole push-half--bottom weight--light">By {{entry.author}}</h4>
        <div class="border-bottom--thin one-quarter"></div>
        <div class="one-whole push-half--top">
            <h5 class="one-third float--left flush weight--light">{{entry.postDate|date('d F Y')}}</h5>
        </div>
        <p class="one-whole push-half--top">{{entry.heading}}<br><a href="{{ entry.url }}">Read More</a></p>

    </article>

   



    {% endif %}
     <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'designlabdev'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>