{#
#
#
# Generic Blog Entry
# ---------------
#
#}

{% extends "_layout" %}

{% block content %}
<section class="one-whole">
	<img src="{{entry.featuredImage[0].getUrl('blogImageTransform')}}" alt="" class="push--bottom one-whole">
</section>
<section class="blog-post three-quarters float--left palm-one-whole lap-one-whole lap-soft--sides palm-soft--sides">
    <h1 class="flush--bottom">{{entry.title}}</h1>
    <p class="byline push-half--bottom">By {{entry.author}}t</p>
    {% include "_includes/social/blog.html" with {'pType':'project'}  %}
    {{entry.body}}

</section>

{% if island == 'desComp' %}
    {% include "_includes/island/island--desComp.html"%}
{% elseif island == 'ixdLogo' %}
    {% include "_includes/island/island--ixd.html"%}
{% elseif island == 'desLab' %}
    {% include "_includes/island/island.html"%}
{% elseif island == 'idea' %}
    {% include "_includes/island/island--idea.html"%}
{% endif %}

{% endblock %}
