{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Design Lab</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{{ siteUrl }}styles/5e3a20db.main.css">
        <script src="{{ siteUrl }}scripts/vendor/f7f27360.modernizr.js"></script>
        <script type="text/javascript" src="http://use.typekit.net/yxa7iwy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header>
            <h1 class="giga float--left">DesignLab</h1>
            <ul class="nav">
                    <li><a href="course/index.html">IDEA</a></li>
                    <li><a href="#">Design Computing</a></li>
                    <li><a href="#">Research</a></li>
                
            </ul>
            <button href="#" id="openMenu" data-effect="st-effect-3" class="float--right">Menu</button>
        </header>

        <div class="content">

        
		{% block content%}
        
        {% endblock %}

       
        </div>
        <nav class="st-menu" id="menu-3">
            <div class="selector float--left">
                <div id="" class="sideLogo sideLogo--desLab active"></div>
                <div id="" class="sideLogo sideLogo--idea"></div>
                <div id="" class="sideLogo sideLogo--desComp"></div>
                <div id="" class="sideLogo sideLogo--ixd"></div>
            </div>
            <section class="desLab float--right">
                <h3>Design Lab</h3>
                <ul class="nav nav--stacked">
                    <li>Home</li>
                    <li>Featured Posts</li>
                    <li>Tags</li>
                </ul>
            </section>
            <section class="idea float--right visuallyhidden">
                <h3>IDEA</h3>
                <ul class="nav nav--stacked">
                    <li>Home</li>
                    <li>People</li>
                    <li>Thesis 2014</li>
                </ul>
            </section>
            <section class="desComp float--right visuallyhidden">
                <h3>Design Computing</h3>
                <ul class="nav nav--stacked">
                    <li>Home</li>
                    <li>People</li>
                    <li>Staff</li>
                    <li>Digital Design Studio</li>
                    <li>InfoViz Studio</li>
                    <li>IxD Studio</li>
                    <li>HCE Studio</li>
                    <li>Press</li>
                    <li>Course Page</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </section>
        </nav>


        <script src="{{ siteUrl }}scripts/38d5a428.vendor.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script src="{{ siteUrl }}scripts/c1316480.main2.js"></script>
</body>
</html>