{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Design Lab</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="{{ siteUrl }}styles/main.css">
        <script src="{{ siteUrl }}scripts/vendor/f7f27360.modernizr.js"></script>
        <script type="text/javascript" src="http://use.typekit.net/yxa7iwy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

            
        <header>
            <div class="navigation portable-soft-half--left palm-soft-half--left">
                <div class="nav__logo"><a href="{{siteUrl}}"><h1>DesignLab</h1></a></div>
                <ul class="nav visuallyhidden--palm">
                    <li class="nav__item" data-pane="desComp" id="desComp">
                        <a href="{{url('design-computing')}}">Design Computing</a>
                        {% include "_includes/nav/desCompShelf.html" %}
                    </li>
                    <li class="nav__item" data-pane="idea" id="idea">
                        <a href="{{url('idea')}}" >IDEA</a>
                        {% include "_includes/nav/ideaShelf.html" %}
                    </li>
                    <li class="nav__item"  data-pane="research" id="research">
                        <a href="{{url('research/computational-design')}}">Research</a>
                            {% include "_includes/nav/researchShelf.html" %}
                    </li>
                    <li class="nav__item">
                        <a href="{{url('people')}}" data-pane="people">People</a>
                    </li>
                </ul>
            </div>
        </header>
        <div class="menu__button visuallyhidden--lap-and-up" ><i class="fa fa-bars"></i></div>

        <section class="secondNav">
            {% block secondNav %}
        
            {% endblock %}
        </section>

        <div class="content">

        
		{% block content%}
        
        {% endblock %}

        </div>


        <div class="sideMenu">
            <nav class="st-menu" id="menu-3">
           <div class="selector float--left">
               <div id="" class="phoneLogo phoneLogo--desLab active"></div>
               <div id="" class="phoneLogo phoneLogo--idea"></div>
               <div id="" class="phoneLogo phoneLogo--desComp"></div>
               <div id="" class="phoneLogo phoneLogo--ixd"></div>
           </div>
           <section class="desLab float--right">
               <h3>Design Lab</h3>
               <ul class="nav nav--stacked">
                   <li>Home</li>
                   <li>Featured Posts</li>
                   <li>Tags</li>
               </ul>
           </section>
           <section class="idea float--right visuallyhidden">
               <h3>IDEA</h3>
               <ul class="nav nav--stacked">
                   <li>Home</li>
                   <li>People</li>
                   <li>Thesis 2014</li>
               </ul>
           </section>
           <section class="desComp float--right visuallyhidden">
               <h3>Design Computing</h3>
               <ul class="nav nav--stacked">
                   <li>Home</li>
                   <li>People</li>
                   <li>Staff</li>
                   <li>Digital Design Studio</li>
                   <li>InfoViz Studio</li>
                   <li>IxD Studio</li>
                   <li>HCE Studio</li>
                   <li>Press</li>
                   <li>Course Page</li>
                   <li></li>
                   <li></li>
                   <li></li>
                   <li></li>
               </ul>
           </section>
       </nav>
        </div>
       


        <script src="{{ siteUrl }}scripts/38d5a428.vendor.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-40340871-2', 'azurewebsites.net');
          ga('send', 'pageview');

        </script>

        <script src="{{ siteUrl }}scripts/c1316480.main2.js"></script>
</body>
</html>