{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<section class="featuresList three-quarters palm-one-whole lap-one-whole">
		{% set en = craft.entries.section('designLab').descendantOf('designLabNews').ids() %}
		{% set e2 = craft.entries.childOf('designLabFeaturedContent').ids() %}
		{% set en = en|merge(e2) %}
		{% set entries = craft.entries.find({id: en}) %}
		{% for entry in entries %}
		{% if entry.type != 'designLabIncludedNews' %}
		{% include "_includes/blog/blog--feature.html" with {'pType':'blog'} %}
		{% endif %}
		{% endfor %}
    </section>
    {% include "_includes/island/island.html"%}
{% endblock %}
